<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="amar9" connectionString="Data Source=103.235.104.114;Network Library=;Connection Timeout=35;Packet Size=4096;Integrated Security=no;User ID=ckg517;Password=Ckg@@9129822343;Encrypt=no;Initial Catalog=ckg1;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true" providerName="System.Data.SqlClient" />
    <add name="amar2" connectionString="Data Source=103.235.105.38;Network Library=;Connection Timeout=35;Packet Size=4096;Integrated Security=no;User ID=account;Password=zaber@@9129822343;Encrypt=no;Initial Catalog=zaber" providerName="System.Data.SqlClient" />
    <add name="amar1" connectionString="Data Source=.\MSSQLSERVER2022;Integrated Security=False;User ID=wjstar12;Password=wjstar@@2019;Connect Timeout=15;Encrypt=False;Initial Catalog=wjstarin1;Packet Size=4096" providerName="System.Data.SqlClient" />
    <add name="amar" connectionString="Data Source=.\MSSQLSERVER2022;Network Library=;Connection Timeout=35;Packet Size=4096;Integrated Security=no;User ID=amar;Password=Heed@@2019;Encrypt=no;Initial Catalog=amar;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <machineKey validationKey="6628ECBFB40F6F852AB543C23C0B83C1679C5AAE35AD72FACF5B9F4FDB70AA1F648A1D5877CE1F9D69F08BAD919BFBAC0976D9119B8F32CFB80814E4E943F8EE" decryptionKey="42F45B378301126EB4CCBA16995304263754EF116E08A81003A936CC04B7537F" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" tempDirectory="C:\Inetpub\vhosts\heedrealestate.com\tmp">
    <assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies>
	</compilation>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4000000000" />
      </requestFiltering>
      <authentication>
        <basicAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
